body {
    margin: 1em;
    background-color: rgb(224, 224, 224);
}

ul.justify-content-end {
    justify-content: space-between!important;
}

li.welcome {
    font-size: 25px;
    width: 40%;
    text-align: left;
}

li.anon {
    width: 85%;
}

div.warning {
    margin: 20px 0px 50px 0px;
}

h1.title {
    margin: 15px 0px 40px 0px;
}

h2 {
    margin-bottom: 20px;
}

ul {
    margin: 15px 0px 5px 0px;
}

li.list-group-item {
    background-color: rgb(231, 231, 231);
}

a {
    text-decoration: none;
}

a.home {
    margin-top: 20px;
}

form {
    margin-bottom: 15px;
    width: 100%;
}

input, select, input:focus {
    border: none;
    border-radius: 3px;
    height: 2em;
    outline: none;
    margin: 0px 7px 0px 0px;
}